
<main id="main" class="main">
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb" id="list_nav">
        <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
          <a [routerLink]="'/'+formatBreadcrumbLink(breadcrumb,breadcrumbs)">{{ formatBreadcrumb(breadcrumb) }}</a>
        </li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ isUpdateMode ? 'Update' : 'New' }} Account</h5>
        <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" class="row g-3">
            
          <div class="col-12">
            <label for="AccountCode" class="form-label">Account Code</label>
            <input type="text" id="AccountCode" formControlName="accountCode" class="form-control">
            <div *ngIf="accountForm.get('accountCode')?.invalid && accountForm.get('accountCode')?.touched || showAlert">
              <small class="text-danger" *ngIf="accountForm.get('accountCode')?.errors?.['required']">Account Code is required.</small>
            </div>
          </div>

          <div class="col-12">
            <label for="AccountName" class="form-label">Account Name</label>
            <input type="text" id="AccountName" formControlName="accountName" class="form-control">
            <div *ngIf="accountForm.get('accountName')?.invalid && accountForm.get('accountName')?.touched || showAlert">
              <small class="text-danger" *ngIf="accountForm.get('accountName')?.errors?.['required']">Account Name is required.</small>
            </div>
          </div>

          <div class="col-12">
            <label for="AccountType" class="form-label">Account Type</label>
            <select id="AccountType" formControlName="type" class="form-select">
                <option [ngValue]="null">Select Type</option>
                <option *ngFor="let type of accountTypes" [value]="type.id">{{type.name}}</option>
            </select>
            <div *ngIf="accountForm.get('type')?.invalid && accountForm.get('type')?.touched || showAlert">
                <small class="text-danger" *ngIf="accountForm.get('type')?.errors?.['required']">Type is required.</small>
            </div>
          </div>

         <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="isActive" formControlName="isAcitve">
              <label class="form-check-label" for="isActive">
                Active
              </label>
            </div>
          </div>

          <div class="text-start">
            <button type="submit" class="btn btn-primary m-2" *ngIf="!isUpdateMode">Create</button>
            <button type="submit" class="btn btn-primary m-2" *ngIf="isUpdateMode">Update</button>
            <a routerLink="/Finance/list-account" class="btn btn-secondary m-2">Cancel</a>
          </div>
        </form>

        <!-- Alert for invalid form -->
        <div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
          All fields are necessities
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="showAlert = false"></button>
        </div>
      </div>
    </div>
  </section>
</main>
