<main class="main" id="main">
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb" id="list_nav">
        <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
          <a [routerLink]="'/'+formatBreadcrumbLink(breadcrumb,breadcrumbs)">{{ formatBreadcrumb(breadcrumb) }}</a>
        </li>
      </ol>
    </nav>
  </div>
  <div *ngIf="loading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="standard">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. iphone 12">
        </mat-form-field>
      </div>
      <div class="col-6 text-end mt-3">
        <a routerLink="../add_Purchases" class="btn btn-success m-1">
          <span style="padding-right: 10px;">New</span><i class="bi bi-plus-square"></i>
        </a>
        <a routerLink="../add-article" class="btn btn-light m-1">
          <span style="padding-right: 10px;">Pdf</span><i class="bi bi-file-earmark-pdf"></i>
        </a>
        <a routerLink="../add-article" class="btn btn-light m-1">
          <span style="padding-right: 10px;">Excel</span><i class="bi bi-file-earmark-excel"></i>
        </a>
        <a routerLink="../add-article" class="btn btn-light m-1">
          <span style="padding-right: 10px;">Print</span><i class="bi bi-printer"></i>
        </a>
      </div>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8 w-100">

        <!-- Purchase Reference Column -->
        <ng-container matColumnDef="purchaseRef">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Purchase Ref</th>
          <td mat-cell *matCellDef="let element">{{element.purchaseRef}}</td>
        </ng-container>

        <!-- Purchase Date Column -->
        <ng-container matColumnDef="purchaseDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Purchase Date</th>
          <td mat-cell *matCellDef="let element">{{element.purchaseDate | date: 'dd-MM-yyyy'}}</td>
        </ng-container>


        <!-- Total Amount Column -->
        <ng-container matColumnDef="totalAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Amount</th>
          <td mat-cell *matCellDef="let element">{{element.totalAmount}}</td>
        </ng-container>

        <!-- currencyName Column -->
        <ng-container matColumnDef="currencyName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Currency Name</th>
          <td mat-cell *matCellDef="let element">{{element.currencyName}}</td>
        </ng-container>

        <!-- supplierName Column -->
        <ng-container matColumnDef="supplierName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Supplier Name</th>
          <td mat-cell *matCellDef="let element">{{element.supplierName}}</td>
        </ng-container>
        <!-- Payment Status Column -->
        <ng-container matColumnDef="paymentStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Status</th>
          <td mat-cell *matCellDef="let element">{{element.paymentStatus}}</td>
        </ng-container>

        <!-- Payment Date Column -->
        <ng-container matColumnDef="paymentDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Date</th>
          <td mat-cell *matCellDef="let element">{{element.paymentDate| date: 'dd-MM-yyyy'}}</td>
        </ng-container>

        <!-- Payment Date Column -->
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</th>
          <td mat-cell *matCellDef="let element">{{element.createdAt| date: 'dd-MM-yyyy'}}</td>
        </ng-container>
        <!-- Payment Date Column -->
        <ng-container matColumnDef="updatedAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Update Date</th>
          <td mat-cell *matCellDef="let element">{{element.updatedAt| date: 'dd-MM-yyyy'}}</td>
        </ng-container>
        <!-- Update Button Column -->
        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef>Update</th>
          <td mat-cell *matCellDef="let element">
            <a class="btn btn-success" routerLink="/purchases/add_Purchases/{{element.idSupplier}}">Update</a>
          </td>
        </ng-container>

        <!-- Delete Button Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let element">
            <button class="btn btn-danger" (click)="deletePurchase(element.idPurchase)">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </section>
</main>