<main id="main" class="main">
  <h1>Home</h1>
  <div style="width:50%;margin: auto;">
    <div class="row">
      <div class="col-3 mt-2">
        <a routerLink="../Article/list-article">
          <div class="menu_item"><i class="bi bi-box-seam"></i>
            <div>Article</div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a routerLink="../purchases/list-Purchases">
          <div class="menu_item"><i class="bi bi-boxes"></i>
            <div>purchases</div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a routerLink="../sales/list-sales">
          <div class="menu_item"><i class="bi bi-cart3"></i>
            <div>Sales</div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a routerLink="../Info/City">
          <div class="menu_item"><i class="bi bi-info-circle"></i>
            <div>Infos</div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a href="#">
          <div class="menu_item"><i class="bx bxs-cart"></i>
            <div>purchases</div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a href="#">
          <div class="menu_item"><i class="bx bxs-cart"></i>
            <div>purchases</div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a href="#">
          <div class="menu_item"><i class="bx bxs-cart"></i>
            <div>purchases</div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a href="#">
          <div class="menu_item"><i class="bx bxs-cart"></i>
            <div>purchases</div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a href="#">
          <div class="menu_item"><i class="bx bxs-cart"></i>
            <div>purchases</div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a href="#">
          <div class="menu_item"><i class="bx bxs-cart"></i>
            <div>purchases</div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a href="#">
          <div class="menu_item"><i class="bx bxs-cart"></i>
            <div>purchases</div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a href="#">
          <div class="menu_item"><i class="bx bxs-cart"></i>
            <div>purchases</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>