<main id="main" class="main">
  <h1>Home</h1>
  <div style="width:50%;margin: auto;">
    <div class="row">
      <div class="col-3 bg-danger">home</div>
      <div class="col-3 bg-danger">home</div>
      <div class="col-3 bg-danger">home</div>
      <div class="col-3 bg-danger">home</div>
      <div class="col-3 bg-danger">home</div>
      <div class="col-3 bg-danger">home</div>
      <div class="col-3 bg-danger">home</div>
      <div class="col-3 bg-danger">home</div>
    </div>
  </div>
</main>