.menu_item {
  border: 2px solid rgb(255 255 255);
  border-radius: 5px;
  background-color: rgb(184 232 253 / 45%);
  width: 80%;
  height: 60px;
  text-align: center;
  padding: 5px;
  transition: 1s;
}

.menu_item:hover {
  border: 2px solid rgb(231, 231, 231);
  background-color: rgba(88, 205, 255, 0.45);
  color: white;
  transition: 100ms;
}