<main id="main" class="main">
  <h1>Home</h1>
  <div style="width:50%;margin: auto;">
    <div class="row">
      <div class="col-3 mt-2">
        <a href="../Article/list-article">
          <div class="menu_item"><i class="bi bi-box-seam"></i>
            <div><span>Article</span></div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a href="../purchases/list-Purchases">
          <div class="menu_item"><i class="bi bi-boxes"></i>
            <div><span>purchases</span></div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a href="../sales/list-sales">
          <div class="menu_item"><i class="bi bi-cart3"></i>
            <div><span>Sales</span></div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a href="../Info/City">
          <div class="menu_item"><i class="bi bi-info-circle"></i>
            <div><span>Info</span></div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a href="../Inventory">
          <div class="menu_item"><i class="fi fi-rr-supplier-alt"></i>
            <div><span>Inventory</span></div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a href="../HR-Management">
          <div class="menu_item"><i class="fi fi-sr-department"></i>
            <div><span>HR Management</span></div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a href="../Users-Management/List-Users">
          <div class="menu_item"><i class="fi fi-sr-users-alt"></i>
            <div><span>Users Management</span></div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a href="#">
          <div class="menu_item"><i class="bx bxs-cart"></i>
            <div><span>purchases</span></div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a href="#">
          <div class="menu_item"><i class="bx bxs-cart"></i>
            <div><span>purchases</span></div>
          </div>
        </a>
      </div>

      <div class="col-3 mt-2">
        <a href="#">
          <div class="menu_item"><i class="bx bxs-cart"></i>
            <div><span>purchases</span></div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a href="#">
          <div class="menu_item"><i class="bx bxs-cart"></i>
            <div><span>purchases</span></div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a href="#">
          <div class="menu_item"><i class="bx bxs-cart"></i>
            <div><span>purchases</span></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>