<main id="main" class="main">
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb" id="list_nav">
        <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
          <a [routerLink]="'/'+breadcrumb">{{ formatBreadcrumb(breadcrumb) }}</a>
        </li>
      </ol>
    </nav>
  </div>
  <div style="width:50%;margin: auto;">
    <div class="row">
      <div *ngFor="let item of menu" class="col-3 mt-2">
        <a routerLink={{item.Route}}>
          <div class="menu_item"><i class={{item.icon}}></i>
            <div>{{item.data}}</div>
          </div>
        </a>
      </div>

    </div>
  </div>
</main>