<main id="main" class="main">
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb" id="list_nav">
        <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
          <a [routerLink]="'/'+formatBreadcrumbLink(breadcrumb,breadcrumbs)">{{ formatBreadcrumb(breadcrumb) }}</a>
        </li>
      </ol>
    </nav>
  </div>

  <div *ngIf="loading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  <div class="row">
    <section class="section col-12">

      <div class="card ">
        <div class="card-body">
          <h5 class="card-title">New Purchase</h5>


          <form [formGroup]="FormInputs" (ngSubmit)="onSubmit()" class="row g-3">
            <div class="col-6">
              <label for="purchaseRef" class="form-label">Purchase Ref</label>
              <input type="text" id="purchaseRef" formControlName="purchaseRef" class="form-control" value="{{ref}}"
                readonly>
              <button type="button" *ngIf="!isUpdateMode" class="btn btn-primary mt-2" (click)="generateRef()"><i
                  class="ri-history-line"></i>
                Ganerate
                ref</button>
              <div
                *ngIf="FormInputs.get('purchaseRef')?.invalid && FormInputs.get('purchaseRef')?.touched || showAlert">
                <small class="text-danger" *ngIf="FormInputs.get('purchaseRef')?.errors?.['required']">Purchase Ref is
                  required.</small>
              </div>
            </div>
            <div class="col-6">
              <label for="purchaseDate" class="form-label">Purchase Date</label>
              <input type="datetime-local" id="purchaseDate" formControlName="purchaseDate" class="form-control">
              <div
                *ngIf="FormInputs.get('purchaseDate')?.invalid && FormInputs.get('purchaseDate')?.touched || showAlert">
                <small class="text-danger" *ngIf="FormInputs.get('purchaseDate')?.errors?.['required']">Purchase Date is
                  required.</small>
              </div>
            </div>
            <!-- <div class="col-6">
              <label for="idSupplier" class="form-label">Supplier</label>
              <select id="idSupplier" formControlName="idSupplier" class="form-select">
                <option *ngFor="let sup of Suppliers" value="{{sup.idSupplier}}">{{sup.supplierName
                  +'/'+sup.countryName}}
                </option>
              </select>
              <div *ngIf="FormInputs.get('idSupplier')?.invalid && FormInputs.get('idSupplier')?.touched || showAlert">
                <small class="text-danger" *ngIf="FormInputs.get('idSupplier')?.errors?.['required']">Supplier is
                  required.</small>
              </div>
            </div> -->

            <div class="col-6">
              <ng-select [items]="listSupplier" bindLabel="supplierName" bindValue="idSupplier"
                formControlName="idSupplier" [searchable]="true" placeholder="Select Supplier">
              </ng-select>

              <div *ngIf="FormInputs.get('idSupplier')?.invalid && FormInputs.get('idSupplier')?.touched || showAlert">
                <small class="text-danger" *ngIf="FormInputs.get('idSupplier')?.errors?.['required']">
                  Supplier is required.
                </small>
              </div>
            </div>



            <div class="col-6">
              <label for="idCurrency" class="form-label">Currency</label>
              <select id="idCurrency" formControlName="idCurrency" class="form-select">
                <option *ngFor="let currency of Currencies" value="{{currency.idCurrency}}">{{currency.currencyName}}
                </option>

              </select>
              <div *ngIf="FormInputs.get('idCurrency')?.invalid && FormInputs.get('idCurrency')?.touched || showAlert">
                <small class="text-danger" *ngIf="FormInputs.get('idCurrency')?.errors?.['required']">Currency is
                  required.</small>
              </div>
            </div>
            <div class="col-6">
              <label for="totalAmount" class="form-label">Total Amount</label>
              <input type="text" id="totalAmount" formControlName="totalAmount" class="form-control">
              <div
                *ngIf="FormInputs.get('totalAmount')?.invalid && FormInputs.get('totalAmount')?.touched || showAlert">
                <small class="text-danger" *ngIf="FormInputs.get('totalAmount')?.errors?.['required']">Total Amount is
                  required.</small>
                <small class="text-danger" *ngIf="FormInputs.get('totalAmount')?.errors?.['pattern']">Invalid amount
                  format.</small>
              </div>
            </div>
            <div class="col-6">
              <label for="paymentStatus" class="form-label">Payment Status</label>
              <select id="paymentStatus" formControlName="paymentStatus" class="form-select">
                <option value="In progress">In progress</option>
                <option value="Completed">Completed</option>
                <option value="No payment">No payment</option>
              </select>
              <div
                *ngIf="FormInputs.get('paymentStatus')?.invalid && FormInputs.get('paymentStatus')?.touched || showAlert">
                <small class="text-danger" *ngIf="FormInputs.get('paymentStatus')?.errors?.['required']">Payment Status
                  is required.</small>
              </div>
            </div>
            <div class="col-6">
              <label for="paymentDate" class="form-label">Payment Date</label>
              <input type="datetime-local" id="paymentDate" formControlName="paymentDate" class="form-control">
              <div
                *ngIf="FormInputs.get('paymentDate')?.invalid && FormInputs.get('paymentDate')?.touched || showAlert">
                <small class="text-danger" *ngIf="FormInputs.get('paymentDate')?.errors?.['required']">Payment Date is
                  required.</small>
              </div>
            </div>

            <div class="col-6">
              <label for="remarks" class="form-label">Remarks</label>
              <textarea id="remarks" formControlName="remarks" class="form-control"></textarea>
            </div>
            <div class="text-start">
              <button type="submit" class="btn btn-primary m-2" *ngIf="!isUpdateMode">Create</button>
              <button type="submit" class="btn btn-primary m-2" *ngIf="isUpdateMode">Update</button>
              <a routerLink="/purchases" class="btn btn-secondary m-2">Cancel</a>
            </div>
          </form>





        </div>
      </div>
      <div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
        All fields are required.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
          (click)="showAlert = false"></button>
      </div>
      <div *ngIf="showAlertSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
        Operation completed with success
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
          (click)="showAlertSuccess = false"></button>
      </div>
    </section>

    <section class="section col-6" [ngClass]="{ 'disabled-section': SetDisable }">
      <div class="card ">
        <div class="card-body">
          <h5 class="card-title">Available Products</h5>

          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
              class="mat-elevation-z8 w-100">



              <ng-container matColumnDef="articleRef">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by articleRef"> Ref.
                </th>
                <td mat-cell *matCellDef="let element"> {{element.articleRef}} </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="articleName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">articleName
                </th>
                <td mat-cell *matCellDef="let element">{{element.articleName}}</td>
              </ng-container>

              <!-- Family Name Column -->
              <ng-container matColumnDef="familyName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by familyName">
                  familyName
                </th>
                <td mat-cell *matCellDef="let element">{{ element.familly?.familyName ? element.familly.familyName :
                  'null' }}</td>

              </ng-container>

              <!-- Stock Quantity Column -->
              <ng-container matColumnDef="stockQuantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by stockQuantity">
                  stockQuantity</th>
                <td mat-cell *matCellDef="let element">{{element.stockQuantity}}</td>
              </ng-container>


              <!-- Update Button Column -->
              <ng-container matColumnDef="ADD">
                <th mat-header-cell *matHeaderCellDef>ADD</th>
                <td mat-cell *matCellDef="let element">
                  <a class="btn btn-success" (click)="AddArticle(element.idArticle)"><i
                      class="bi bi-arrow-right"></i></a>

                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>


    </section>
    <section class="section col-6" [ngClass]="{ 'disabled-section': SetDisable }">


      <div class="card ">
        <div class="card-body">
          <h5 class="card-title">Purchase Details</h5>

          <form [formGroup]="FormInputsDetails" (ngSubmit)="onSubmitDetails()" class="row g-3">
            <div class="col-4">
              <label for="articleRef" class="form-label">Article Ref</label>
              <input type="text" id="articleRef" formControlName="articleRef" class="form-control" readonly>
            </div>

            <div class="col-4">
              <label for="articleName" class="form-label">Article Name</label>
              <input type="text" id="articleName" formControlName="articleName" class="form-control" readonly>
            </div>


            <div class="col-4">
              <label for="quantity" class="form-label">Quantity</label>
              <input type="text" id="quantity" formControlName="quantity" class="form-control">
            </div>
            <div class="col-4">
              <label for="totalPrice" class="form-label">Total Price</label>
              <input type="text" id="totalPrice" formControlName="totalPrice" class="form-control">
            </div>
            <div class="col-4">
              <label for="taxAmount" class="form-label">Tax Amount</label>
              <input type="text" id="taxAmount" formControlName="taxAmount" class="form-control">
            </div>
            <div class="col-12">
              <label for="quality" class="form-label">Quality</label>
              <div class="d-flex">
                <div class="form-check m-2">
                  <input class="form-check-input" type="radio" name="quality" formControlName="quality" id="New"
                    value="New">
                  <label class="form-check-label" for="New">New</label>
                </div>
                <div class="form-check m-2">
                  <input class="form-check-input" type="radio" name="quality" formControlName="quality" id="Good"
                    value="Good">
                  <label class="form-check-label" for="Good">Good</label>
                </div>
                <div class="form-check m-2">
                  <input class="form-check-input" type="radio" name="quality" formControlName="quality" id="Normale"
                    value="Normale">
                  <label class="form-check-label" for="Normale">Normale</label>
                </div>
                <div class="form-check m-2">
                  <input class="form-check-input" type="radio" name="quality" formControlName="quality" id="Low"
                    value="Low">
                  <label class="form-check-label" for="Low">Low</label>
                </div>
              </div>
            </div>


            <div class="text-start">
              <button type="submit" class="btn btn-primary m-2" *ngIf="!isUpdateModeDetails">Add</button>
              <button type="submit" class="btn btn-primary m-2" *ngIf="isUpdateModeDetails">Update</button>
              <button type="button" class="btn btn-secondary m-2" (click)="reset()">Cancel</button>

            </div>
          </form>


        </div>

      </div>
      <div class="card ">
        <div class="card-body">
          <h5 class="card-title">Purchase Details List</h5>

          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSourcePurchase" matSort (matSortChange)="announceSortChange2($event)"
              class="mat-elevation-z8 w-100">


              <!-- Name Column -->
              <ng-container matColumnDef="articleName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Article Name
                </th>
                <td mat-cell *matCellDef="let element">{{element.article.articleName}}</td>
              </ng-container>
              <ng-container matColumnDef="quality">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by quality">
                  Quality</th>
                <td mat-cell *matCellDef="let element">{{element.quality}}</td>
              </ng-container>
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by quantity">
                  Quantity</th>
                <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
              </ng-container>

              <ng-container matColumnDef="totalPrice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by totalPrice">
                  Total Price</th>
                <td mat-cell *matCellDef="let element">{{element.totalPrice}}</td>
              </ng-container>
              <!-- Update Button Column -->
              <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef>update</th>
                <td mat-cell *matCellDef="let element">
                  <a class="btn btn-success" (click)="updatePurchaseDetails(element.idPurchaseDetails)">Update</a>

                </td>
              </ng-container>

              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>Delete</th>
                <td mat-cell *matCellDef="let element">
                  <a class="btn btn-danger" (click)="deletePurchaseDetails(element.idPurchaseDetails)"><i
                      class="bi bi-trash"></i></a>

                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="ColumnsPurchaseDetails"></tr>
              <tr mat-row *matRowDef="let row; columns: ColumnsPurchaseDetails;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>

    </section>
  </div>

</main>