<main class="main" id="main">
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb" id="list_nav">
        <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
          <a [routerLink]="'/'+breadcrumb">{{ formatBreadcrumb(breadcrumb) }}</a>
        </li>
      </ol>
    </nav>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="standard">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Supplier Name">
        </mat-form-field>
      </div>
      <div class="col-6 text-end mt-3">
        <a routerLink="../add-Suppliers" class="btn btn-success m-1">
          <span style="padding-right: 10px;">New</span><i class="bi bi-plus-square"></i>
        </a>
        <a routerLink="../add-article" class="btn btn-light m-1">
          <span style="padding-right: 10px;">Pdf</span><i class="bi bi-file-earmark-pdf"></i>
        </a>
        <a routerLink="../add-article" class="btn btn-light m-1">
          <span style="padding-right: 10px;">Excel</span><i class="bi bi-file-earmark-excel"></i>
        </a>
        <a routerLink="../add-article" class="btn btn-light m-1">
          <span style="padding-right: 10px;">Print</span><i class="bi bi-printer"></i>
        </a>
      </div>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8 w-100">

        <!-- Supplier Reference Column -->
        <ng-container matColumnDef="SupplierRef">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Supplier Ref</th>
          <td mat-cell *matCellDef="let element">{{element.SupplierRef}}</td>
        </ng-container>

        <!-- Supplier Name Column -->
        <ng-container matColumnDef="SupplierName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Supplier Name</th>
          <td mat-cell *matCellDef="let element">{{element.SupplierName}}</td>
        </ng-container>

        <!-- Contact Person Column -->
        <ng-container matColumnDef="ContactPerson">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact Person</th>
          <td mat-cell *matCellDef="let element">{{element.ContactPerson}}</td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="Phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
          <td mat-cell *matCellDef="let element">{{element.Phone}}</td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let element">{{element.Email}}</td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="Address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
          <td mat-cell *matCellDef="let element">{{element.Address}}</td>
        </ng-container>

        <!-- Country Column -->
        <ng-container matColumnDef="Country">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
          <td mat-cell *matCellDef="let element">{{element.Country}}</td>
        </ng-container>

        <!-- Update Button Column -->
        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef>Update</th>
          <td mat-cell *matCellDef="let element">
            <a class="btn btn-success" [routerLink]="'../add-Suppliers/'+element.SupplierRef">Update</a>
          </td>
        </ng-container>

        <!-- Delete Button Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let element">
            <button class="btn btn-danger" (click)="delete()">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
        aria-label="Select page of periodic elements"></mat-paginator>
    </div>
  </section>
</main>