<main class="main" id="main">
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb" id="list_nav">
        <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
          <a [routerLink]="'/'+formatBreadcrumbLink(breadcrumb,breadcrumbs)">{{ formatBreadcrumb(breadcrumb) }}</a>
        </li>
      </ol>
    </nav>
  </div>
  <div *ngIf="loading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>

  <section class="section">
    <div class="row mb-4">
        <label for="" class="form-label">Search</label>
      <div class="col-3">
        <input class="form-control border-1 h-100 bg-transparent" (keyup)="applyFilter($event)" placeholder="EX. Morocco">
        
      </div>
      <div class="col-9 text-end mt-3">
        <a (click)="open()" class="btn btn-success m-1">
          <span style="padding-right: 10px;">New</span><i class="bi bi-plus-square"></i>
        </a>
        <a routerLink="../export/pdf" class="btn btn-light m-1">
          <span style="padding-right: 10px;">Pdf</span><i class="bi bi-file-earmark-pdf"></i>
        </a>
        <a routerLink="../export/excel" class="btn btn-light m-1">
          <span style="padding-right: 10px;">Excel</span><i class="bi bi-file-earmark-excel"></i>
        </a>
        <a routerLink="../print" class="btn btn-light m-1">
          <span style="padding-right: 10px;">Print</span><i class="bi bi-printer"></i>
        </a>
      </div>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8 w-100">

        <!-- Customer ID Column -->
        <ng-container matColumnDef="countryId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Country ID">Country ID
          </th>
          <td mat-cell *matCellDef="let element">{{element.countryId}}</td>
        </ng-container>

        <!-- Customer Name Column -->
        <ng-container matColumnDef="countryName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Country Name">Country
            Name</th>
          <td mat-cell *matCellDef="let element">{{element.countryName}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="SetUpdateMode(element.countryId,element.countryName)">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item (click)="id=element.countryId;closeModel()">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
              <mat-divider></mat-divider>
              <button mat-menu-item>
                <mat-icon>content_copy</mat-icon>
                <span>Duplicate</span>
              </button>
              <button mat-menu-item>
                <mat-icon>print</mat-icon>
                <span>Print</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>




        

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
        aria-label="Select page of customers"></mat-paginator>
    </div>
  </section>
  <div class="model_erp d-none" id="model_erp">

    <div class=" d-flex justify-content-end">
      <i class="icon_close bi bi-x-square-fill" (click)="closeModelErp()"></i>
    </div>
    <div class="model_header">
      <h1>Add New Coutnry</h1>
    </div>
    <div class="model_body">
      <form [formGroup]="FormInputs">
        <div class="row">
          <div class="col-12">
            <label for="countryName" class="form-label">Country Name</label>
            <input type="text" name="countryName" id="countryName" formControlName="countryName" class="form-control">
            <div *ngIf="FormInputs.get('countryName')?.invalid && FormInputs.get('countryName')?.touched || showAlert">
              <small class="text-danger" *ngIf="FormInputs.get('countryName')?.errors?.['required']">
                Customer Ref is required.
              </small>

            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="model_footer">
      <div class="">
        <button class="btn" id="add_model" (click)="add_country()">{{UpdateMode?'Update':'Add'}}</button>
        <button class="btn" id="close_model" (click)="closeModelErp()">Cancel</button>
      </div>
    </div>

  </div>
  <!-- Alert for invalid form -->
  <div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
    Error
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
      (click)="showAlert = false"></button>
  </div>
  <div *ngIf="showAlertSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
    Operation completed with success
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
      (click)="showAlertSuccess = false"></button>
  </div>


  <div class="model_erp d-none" id="model_delete">

    <div class=" d-flex justify-content-end">
      <i class="icon_close bi bi-x-square-fill" (click)="closeModel()"></i>
    </div>
    <div class="model_header">
      <h1>Warning</h1>
    </div>
    <div class="model_body">
      <h2 class="text-center">Do you really want to delete this Country!</h2>

    </div>
    <div class="model_footer">
      <div class="">
        <button class="btn" id="close_model" (click)="Delete()">Delete</button>
        <button class="btn btn-secondary" (click)="closeModel()">Cancel</button>
      </div>
    </div>

  </div>
</main>