<main id="main" class="main">
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb" id="list_nav">
        <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
          <a [routerLink]="'/'+formatBreadcrumbLink(breadcrumb,breadcrumbs)">{{ formatBreadcrumb(breadcrumb) }}</a>
        </li>
      </ol>
    </nav>
  </div>
  <div *ngIf="loading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="fill">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Hydrogen">
        </mat-form-field>
      </div>
      <div class="col-6 text-end mt-3">
        <a [routerLink]="['../add-family']" class="btn btn-success"><span style="padding-right: 10px;">New</span><i
            class="bi bi-plus-square"></i></a>
      </div>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="idFamilly">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.idFamilly}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="familyRef">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Ref"> family Ref </th>
          <td mat-cell *matCellDef="let element"> {{element.familyRef}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="familyName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by family Desc"> family Name
          </th>
          <td mat-cell *matCellDef="let element"> {{element.familyName}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="familyDesc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by familyDesc"> familyDesc
          </th>
          <td mat-cell *matCellDef="let element"> {{element.familyDesc}} </td>
        </ng-container>
        <!-- Update Button Column -->
        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef>Update</th>
          <td mat-cell *matCellDef="let element">
            <a class="btn btn-success" routerLink="/Article/add-family//{{element.idFamilly}}">Update</a>

          </td>
        </ng-container>

        <!-- Delete Button Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let element">
            <button class="btn btn-danger" (click)="idDelete=element.idFamilly;closeModel()">Delete</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </section>
  <div class="model_erp d-none" id="model_delete">

    <div class=" d-flex justify-content-end">
      <i class="icon_close bi bi-x-square-fill" (click)="closeModel()"></i>
    </div>
    <div class="model_header">
      <h1>Warning</h1>
    </div>
    <div class="model_body">
      <h2 class="text-center">Do you really want to delete this Family!</h2>

    </div>
    <div class="model_footer">
      <div class="">
        <button class="btn" id="close_model" (click)="Delete()">Delete</button>
        <button class="btn btn-secondary" (click)="closeModel()">Cancel</button>
      </div>
    </div>

  </div>
</main>