<main id="main" class="main">
  <h1>Home</h1>
  <div style="width:50%;margin: auto;">
    <div class="row">
      <div class="col-3 mt-2">
        <a routerLink="/Users-Management/List-Users">
          <div class="menu_item"><i class="fi fi-rs-skill"></i>
            <div><span>List Users</span></div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a routerLink="/Users-Management/List-Users/Add-Users">
          <div class="menu_item"><i class="fi fi-sr-user-add"></i>
            <div><span>Add User</span></div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a routerLink="/Users-Management/Permission">
          <div class="menu_item"><i class="fi fi-rr-folder-tree"></i>
            <div><span>List Permission</span></div>
          </div>
        </a>
      </div>
      <div class="col-3 mt-2">
        <a routerLink="/Users-Management/Permission/AddPermission">
          <div class="menu_item"><i class="fi fi-sr-apps-add"></i>
            <div><span>Add Permission</span></div>
          </div>
        </a>
      </div>

    </div>
  </div>
</main>