<main id="main" class="main">
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb" id="list_nav">
        <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
          <a [routerLink]="'/'+formatBreadcrumbLink(breadcrumb,breadcrumbs)">{{ formatBreadcrumb(breadcrumb) }}</a>
        </li>
      </ol>
    </nav>
  </div>
  <div *ngIf="loading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  <section class="section">
    <div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show alertError" role="alert">
      Error
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
        (click)="showAlert = false"></button>
    </div>
    <div *ngIf="showAlertSuccess" class="alert alert-success alert-dismissible fade show alertSuccess" role="alert">
      Operation completed with success
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
        (click)="showAlertSuccess = false"></button>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">New Employee</h5>
        <form [formGroup]="FormInputs" (ngSubmit)="onSubmit()" class="row g-3">



          <!-- First Name -->
          <div class="col-6">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" id="firstName" formControlName="firstName" class="form-control">
            <div *ngIf="FormInputs.get('firstName')?.invalid && FormInputs.get('firstName')?.touched || showAlert">
              <small class="text-danger" *ngIf="FormInputs.get('firstName')?.errors?.['required']">First Name is
                required.</small>
            </div>
          </div>

          <!-- Last Name -->
          <div class="col-6">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" id="lastName" formControlName="lastName" class="form-control">
            <div *ngIf="FormInputs.get('lastName')?.invalid && FormInputs.get('lastName')?.touched || showAlert">
              <small class="text-danger" *ngIf="FormInputs.get('lastName')?.errors?.['required']">Last Name is
                required.</small>
            </div>
          </div>

          <!-- Date of Birth -->
          <div class="col-6">
            <label for="dateOfBirth" class="form-label">Date of Birth</label>
            <input type="datetime-local" id="dateOfBirth" formControlName="dateOfBirth" class="form-control">


            <div *ngIf="FormInputs.get('dateOfBirth')?.invalid && FormInputs.get('dateOfBirth')?.touched || showAlert">
              <small class="text-danger" *ngIf="FormInputs.get('dateOfBirth')?.errors?.['required']">Date of Birth is
                required.</small>
            </div>
          </div>

          <!-- Email -->
          <div class="col-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" formControlName="email" class="form-control">
            <div *ngIf="FormInputs.get('email')?.invalid && FormInputs.get('email')?.touched || showAlert">
              <small class="text-danger" *ngIf="FormInputs.get('email')?.errors?.['required']">email is
                required.</small>
              <small class="text-danger" *ngIf="FormInputs.get('email')?.errors?.['email']">Invalid email
                format.</small>
            </div>
          </div>

          <!-- Phone -->
          <div class="col-6">
            <label for="phone" class="form-label">phone</label>
            <input type="text" id="phone" formControlName="phone" class="form-control">
            <div *ngIf="FormInputs.get('phone')?.invalid && FormInputs.get('phone')?.touched || showAlert">
              <small class="text-danger" *ngIf="FormInputs.get('phone')?.errors?.['required']">phone is
                required.</small>
              <small class="text-danger" *ngIf="FormInputs.get('phone')?.errors?.['pattern']">Invalid phone
                format.</small>
            </div>
          </div>

          <!-- Address -->
          <div class="col-6">
            <label for="address" class="form-label">address</label>
            <input type="text" id="address" formControlName="address" class="form-control">
          </div>


          <!-- Department (With Search) -->
          <div class="col-6">
            <ng-select [items]="departmentList" bindLabel="departmentName" bindValue="departmentID"
              formControlName="departmentID" [searchable]="true" placeholder="Select a department"
              (ngModelChange)="changeSelect($event)">
            </ng-select>
            <div
              *ngIf="FormInputs.get('departmentID')?.invalid && FormInputs.get('departmentID')?.touched || showAlert">
              <small class="text-danger" *ngIf="FormInputs.get('departmentID')?.errors?.['required']">Department is
                required.</small>
            </div>
          </div>

          <!-- Works (With Search) -->
          <div class="col-6">
            <ng-select [items]="WorksList" bindLabel="worksName" bindValue="workstID" formControlName="worksID"
              [searchable]="true" placeholder="Select works">
            </ng-select>
            <div *ngIf="FormInputs.get('worksID')?.invalid && FormInputs.get('worksID')?.touched || showAlert">
              <small class="text-danger" *ngIf="FormInputs.get('worksID')?.errors?.['required']">Works is
                required.</small>
            </div>
          </div>
          <!-- Job Title -->
          <div class="col-6">
            <label for="jobTitle" class="form-label">Job Title</label>
            <input type="text" id="jobTitle" formControlName="jobTitle" class="form-control">
            <div *ngIf="FormInputs.get('jobTitle')?.invalid && FormInputs.get('jobTitle')?.touched || showAlert">
              <small class="text-danger" *ngIf="FormInputs.get('jobTitle')?.errors?.['required']">Job Title is
                required.</small>
            </div>
          </div>
          <!-- Start Date -->
          <div class="col-6">
            <label for="startDate" class="form-label">Start Date</label>
            <input type="datetime-local" id="startDate" formControlName="startDate" class="form-control">
            <div *ngIf="FormInputs.get('startDate')?.invalid && FormInputs.get('startDate')?.touched || showAlert">
              <small class="text-danger" *ngIf="FormInputs.get('startDate')?.errors?.['required']">Start Date is
                required.</small>
            </div>
          </div>

          <!-- Salary -->
          <div class="col-6">
            <label for="salary" class="form-label">salary</label>
            <input type="number" id="salary" formControlName="salary" class="form-control">
            <div *ngIf="FormInputs.get('salary')?.invalid && FormInputs.get('salary')?.touched || showAlert">
              <small class="text-danger" *ngIf="FormInputs.get('salary')?.errors?.['required']">salary is
                required.</small>
            </div>
          </div>

          <div class="col-6">
            <label for="idExpenseAccount" class="form-label">Expense Account</label>
            <select id="idExpenseAccount" formControlName="idExpenseAccount" class="form-select">
                <option value="" disabled selected>Select Expense Account</option>
                <option *ngFor="let acc of expenseAccounts" [value]="acc.idAccount">{{ acc.accountName }} ({{ acc.accountCode }})</option>
            </select>
            <div *ngIf="FormInputs.get('idExpenseAccount')?.invalid && FormInputs.get('idExpenseAccount')?.touched || showAlert">
                <small class="text-danger" *ngIf="FormInputs.get('idExpenseAccount')?.errors?.['required']">Expense Account is required.</small>
            </div>
          </div>

          <div class="col-6">
            <ng-select [items]="listCountry" bindLabel="countryName" bindValue="countryId" formControlName="countryId"
              [searchable]="true" placeholder="Select Country of Residence" (ngModelChange)="loadCity($event)">
            </ng-select>
            <div *ngIf="FormInputs.get('countryId')?.invalid && FormInputs.get('countryId')?.touched || showAlert">
              <small class="text-danger" *ngIf="FormInputs.get('countryId')?.errors?.['required']">country is
                required.</small>
            </div>
          </div>

          <div class="col-6">
            <ng-select [items]="listCity" bindLabel="cityName" bindValue="cityID" formControlName="cityID"
              [searchable]="true" placeholder="Select City of Residence">
            </ng-select>
            <div *ngIf="FormInputs.get('cityID')?.invalid && FormInputs.get('cityID')?.touched || showAlert">
              <small class="text-danger" *ngIf="FormInputs.get('cityID')?.errors?.['required']">country is
                required.</small>
            </div>
          </div>


          <!-- Form Actions -->
          <div class="text-start">
            <button type="submit" class="btn btn-primary m-2">{{ isUpdateMode ? 'Update' : 'Create' }}</button>
            <a routerLink="/Users-Management/List-Users" class="btn btn-secondary m-2">Cancel</a>
          </div>
        </form>
      </div>
    </div>

  </section>
</main>