<main class="main" id="main">
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb" id="list_nav">
        <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
          <a [routerLink]="'/'+formatBreadcrumbLink(breadcrumb,breadcrumbs)">{{ formatBreadcrumb(breadcrumb) }}</a>
        </li>
      </ol>
    </nav>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="standard">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. iphone 12">
        </mat-form-field>
      </div>
      <div class="col-6 text-end mt-3">
        <a routerLink="../add_sales" class="btn btn-success m-1">
          <span style="padding-right: 10px;">New</span><i class="bi bi-plus-square"></i>
        </a>
        <a routerLink="../add-article" class="btn btn-light m-1">
          <span style="padding-right: 10px;">Pdf</span><i class="bi bi-file-earmark-pdf"></i>
        </a>
        <a routerLink="../add-article" class="btn btn-light m-1">
          <span style="padding-right: 10px;">Excel</span><i class="bi bi-file-earmark-excel"></i>
        </a>
        <a routerLink="../add-article" class="btn btn-light m-1">
          <span style="padding-right: 10px;">Print</span><i class="bi bi-printer"></i>
        </a>
      </div>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8 w-100">

        <!-- Sale Ref Column -->
        <ng-container matColumnDef="Saleref">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Sale Ref"> Sale Ref </th>
          <td mat-cell *matCellDef="let element"> {{element.Saleref}} </td>
        </ng-container>

        <!-- Sale Date Column -->
        <ng-container matColumnDef="SaleDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Sale Date"> Sale Date
          </th>
          <td mat-cell *matCellDef="let element"> {{element.SaleDate}} </td>
        </ng-container>

        <!-- Customer Column -->
        <ng-container matColumnDef="Customer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Customer"> Customer </th>
          <td mat-cell *matCellDef="let element"> {{element.Customer}} </td>
        </ng-container>

        <!-- Total Amount Column -->
        <ng-container matColumnDef="TotalAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Total Amount"> Total
            Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.TotalAmount}} </td>
        </ng-container>

        <!-- Currency Column -->
        <ng-container matColumnDef="Currency">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Currency"> Currency </th>
          <td mat-cell *matCellDef="let element"> {{element.Currency}} </td>
        </ng-container>

        <!-- Payment Status Column -->
        <ng-container matColumnDef="PaymentStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Payment Status"> Payment
            Status </th>
          <td mat-cell *matCellDef="let element"> {{element.PaymentStatus}} </td>
        </ng-container>

        <!-- Payment Date Column -->
        <ng-container matColumnDef="PaymentDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Payment Date"> Payment
            Date </th>
          <td mat-cell *matCellDef="let element"> {{element.PaymentDate}} </td>
        </ng-container>

        <!-- Sales Rep Column -->
        <ng-container matColumnDef="SalesRep">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Sales Rep"> Sales Rep
          </th>
          <td mat-cell *matCellDef="let element"> {{element.SalesRep}} </td>
        </ng-container>

        <!-- Update Button Column -->
        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef>Update</th>
          <td mat-cell *matCellDef="let element">
            <a class="btn btn-success" [routerLink]="'../add-article/'+element.Saleref">Update</a>
          </td>
        </ng-container>

        <!-- Delete Button Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let element">
            <button class="btn btn-danger" (click)="delete()">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
        aria-label="Select page of sales records"></mat-paginator>
    </div>
  </section>
</main>