<main class="main" id="main">
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb" id="list_nav">
        <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
          <a [routerLink]="'/'+formatBreadcrumbLink(breadcrumb,breadcrumbs)">{{ formatBreadcrumb(breadcrumb) }}</a>
        </li>
      </ol>
    </nav>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="fill">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Product Name">
        </mat-form-field>
      </div>
      <div class="col-6 text-end mt-3">
        <a routerLink="../add_PurchaseDetails" class="btn btn-success m-1">
          <span style="padding-right: 10px;">New</span><i class="bi bi-plus-square"></i>
        </a>
        <a routerLink="../add-article" class="btn btn-light m-1">
          <span style="padding-right: 10px;">Pdf</span><i class="bi bi-file-earmark-pdf"></i>
        </a>
        <a routerLink="../add-article" class="btn btn-light m-1">
          <span style="padding-right: 10px;">Excel</span><i class="bi bi-file-earmark-excel"></i>
        </a>
        <a routerLink="../add-article" class="btn btn-light m-1">
          <span style="padding-right: 10px;">Print</span><i class="bi bi-printer"></i>
        </a>
      </div>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8 w-100">

        <!-- Purchase Reference Column -->
        <ng-container matColumnDef="purchaseRef">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Purchase Ref</th>
          <td mat-cell *matCellDef="let element">{{element.purchaseRef}}</td>
        </ng-container>

        <!-- Product Column -->
        <ng-container matColumnDef="Product">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
          <td mat-cell *matCellDef="let element">{{element.Product}}</td>
        </ng-container>

        <!-- Quantity Column -->
        <ng-container matColumnDef="Quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
          <td mat-cell *matCellDef="let element">{{element.Quantity}}</td>
        </ng-container>

        <!-- Unit Price Column -->
        <ng-container matColumnDef="UnitPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit Price</th>
          <td mat-cell *matCellDef="let element">{{element.UnitPrice}}</td>
        </ng-container>

        <!-- Discount Column -->
        <ng-container matColumnDef="Discount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Discount</th>
          <td mat-cell *matCellDef="let element">{{element.Discount}}</td>
        </ng-container>

        <!-- Total Price Column -->
        <ng-container matColumnDef="TotalPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Price</th>
          <td mat-cell *matCellDef="let element">{{element.TotalPrice}}</td>
        </ng-container>

        <!-- Tax Amount Column -->
        <ng-container matColumnDef="TaxAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tax Amount</th>
          <td mat-cell *matCellDef="let element">{{element.TaxAmount}}</td>
        </ng-container>

        <!-- Update Button Column -->
        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef>Update</th>
          <td mat-cell *matCellDef="let element">
            <a class="btn btn-success" [routerLink]="'../add_PurchaseDetails/'+element.purchaseRef">Update</a>
          </td>
        </ng-container>

        <!-- Delete Button Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let element">
            <button class="btn btn-danger" (click)="delete()">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
        aria-label="Select page of periodic elements"></mat-paginator>
    </div>
  </section>
</main>