<main id="main" class="main">
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Product & Article</li>
        <li class="breadcrumb-item active">New Article</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">New Article</h5>
        <form [formGroup]="articleForm" (ngSubmit)="onSubmit()" class="row g-3">
          <!-- idArticle?: number
          articleRef = "";
          articleName = "";
          descriptionArticle = "";
          purchasePrice = 0;
          sellingPrice = 0;
          FamilyID = "";
          stockQuantity = 0; -->
          <div class="col-6">
            <label for="articleRef" class="form-label">Article Ref</label>
            <input type="text" id="articleRef" formControlName="articleRef" class="form-control">
            <div *ngIf="articleForm.get('articleRef')?.invalid && articleForm.get('articleRef')?.touched || showAlert">
              <small class="text-danger" *ngIf="articleForm.get('articleRef')?.errors?.['required']">Article Ref is
                required.</small>
              <small class="text-danger" *ngIf="articleForm.get('articleRef')?.errors?.['pattern']">Invalid format (3-10
                alphanumeric characters).</small>
            </div>
          </div>
          <div class="col-6">
            <label for="articleName" class="form-label">Article Name</label>
            <input type="text" id="articleName" formControlName="articleName" class="form-control">
            <div
              *ngIf="articleForm.get('articleName')?.invalid && articleForm.get('articleName')?.touched || showAlert">
              <small class="text-danger" *ngIf="articleForm.get('articleName')?.errors?.['required']">Article Name is
                required.</small>
            </div>
          </div>
          <div class="col-md-6">
            <label for="FamilySelect" class="form-label">Product Family</label>
            <select id="FamilySelect" formControlName="familyID" class="form-select">
              <option *ngFor="let family of listFamilly" value="{{family.idFamilly}}">{{family.familyName}}</option>

            </select>
            <div *ngIf="articleForm.get('familyID')?.invalid && articleForm.get('familyID')?.touched || showAlert">
              <small class="text-danger" *ngIf="articleForm.get('familyID')?.errors?.['required']">Product Family
                is required.</small>
            </div>
          </div>
          <div class="col-6">
            <label for="descriptionArticle" class="form-label">Description of Article</label>
            <input type="text" id="descriptionArticle" formControlName="descriptionArticle" class="form-control">
            <div
              *ngIf="articleForm.get('descriptionArticle')?.invalid && articleForm.get('descriptionArticle')?.touched || showAlert">
              <small class="text-danger" *ngIf="articleForm.get('descriptionArticle')?.errors?.['required']">Description
                is
                required.</small>
            </div>
          </div>
          <div class="col-6">
            <label for="stockQuantity" class="form-label">stock Quantity</label>
            <input type="text" id="stockQuantity" formControlName="stockQuantity" class="form-control">
            <div
              *ngIf="articleForm.get('stockQuantity')?.invalid && articleForm.get('stockQuantity')?.touched || showAlert">
              <small class="text-danger" *ngIf="articleForm.get('stockQuantity')?.errors?.['required']">Purchase Price
                is
                required.</small>
              <small class="text-danger" *ngIf="articleForm.get('stockQuantity')?.errors?.['pattern']">Invalid price
                format.</small>
            </div>
          </div>
          <div class="col-6">
            <label for="purchasePrice" class="form-label">Purchase Price</label>
            <input type="text" id="pricPurchase" formControlName="purchasePrice" class="form-control">
            <div
              *ngIf="articleForm.get('purchasePrice')?.invalid && articleForm.get('purchasePrice')?.touched || showAlert">
              <small class="text-danger" *ngIf="articleForm.get('purchasePrice')?.errors?.['required']">Purchase Price
                is
                required.</small>
              <small class="text-danger" *ngIf="articleForm.get('purchasePrice')?.errors?.['pattern']">Invalid price
                format.</small>
            </div>
          </div>
          <div class="col-6">
            <label for="sellingPrice" class="form-label">Selling Price</label>
            <input type="text" id="sellingPrice" formControlName="sellingPrice" class="form-control">
            <div
              *ngIf="articleForm.get('sellingPrice')?.invalid && articleForm.get('sellingPrice')?.touched || showAlert">
              <small class="text-danger" *ngIf="articleForm.get('sellingPrice')?.errors?.['required']">Selling Price is
                required.</small>
              <small class="text-danger" *ngIf="articleForm.get('sellingPrice')?.errors?.['pattern']">Invalid price
                format.</small>
            </div>
          </div>
          <div class="text-start">
            <button type="submit" class="btn btn-primary m-2" *ngIf="!isUpdateMode">Create</button>
            <button type="submit" class="btn btn-primary m-2" *ngIf="isUpdateMode">update</button>
            <a routerLink="/list-article" class="btn btn-secondary m-2">Cancel</a>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
      All fields are required.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
        (click)="showAlert = false"></button>
    </div>
  </section>
</main>