<main id="main" class="main">
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb" id="list_nav">
        <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
          <a [routerLink]="'/'+formatBreadcrumbLink(breadcrumb,breadcrumbs)">{{ formatBreadcrumb(breadcrumb) }}</a>
        </li>
      </ol>
    </nav>
  </div>
  <div *ngIf="loading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  <section class="section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ isUpdateMode ? 'Update User' : 'Add New User' }}</h5>
        <form [formGroup]="FormInputs" (ngSubmit)="onSubmit()" class="row g-3">
          <div class="col-6">
            <label for="userId" class="form-label">User</label>
            <select id="userId" formControlName="userId" class="form-select">
              <option *ngFor="let user of listUser" [value]="user.userID">{{ user.firstName +' '+ user.lastName }}
              </option>
            </select>

            <div *ngIf="FormInputs.get('userId')?.invalid && FormInputs.get('userId')?.touched || showAlert">
              <small class="text-danger" *ngIf="FormInputs.get('userId')?.errors?.['required']">user is
                required.</small>
            </div>
          </div>

          <div class="col-6">
            <label for="idModule" class="form-label">Module</label>
            <select id="idModule" formControlName="idModule" class="form-select">
              <option value="0">All</option>
              <option *ngFor="let module of listModule" [value]="module.idModule">{{ module.moduleName
                }}
              </option>
            </select>
            <div *ngIf="FormInputs.get('idModule')?.invalid && FormInputs.get('idModule')?.touched || showAlert">
              <small class="text-danger" *ngIf="FormInputs.get('idModule')?.errors?.['required']">Module is
                required.</small>
            </div>
          </div>




          <!-- CreatedAt -->
          <div class="col-6">

            <legend class="col-form-label col-sm-2 pt-0">Permission</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="add" formControlName="add">
                <label class="form-check-label" for="add"> Add </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="edit" formControlName="edit">
                <label class="form-check-label" for="edit"> Edit </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="delete" formControlName="delete">
                <label class="form-check-label" for="delete"> Delete </label>
              </div>
            </div>

          </div>



          <!-- Form Actions -->
          <div class="text-start">
            <button type="submit" class="btn btn-primary m-2">{{ isUpdateMode ? 'Update' : 'Create' }}</button>
            <a routerLink="/Users-Management/Permission" class="btn btn-secondary m-2">Cancel</a>
          </div>
        </form>
      </div>
    </div>

    <!-- Alert for invalid form -->
    <div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
      Error
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
        (click)="showAlert = false"></button>
    </div>
    <div *ngIf="showAlertSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
      Operation completed with success
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
        (click)="showAlertSuccess = false"></button>
    </div>
  </section>



</main>