<main id="main" class="main">
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb" id="list_nav">
        <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
          <a [routerLink]="'/'+formatBreadcrumbLink(breadcrumb,breadcrumbs)">{{ formatBreadcrumb(breadcrumb) }}</a>
        </li>
      </ol>
    </nav>

  </div>
  <div *ngIf="loading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  <section class="section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">New Purchase Details</h5>
        <form [formGroup]="FormInputs" (ngSubmit)="onSubmit()" class="row g-3">
          <div class="col-6">
            <label for="supplierRef" class="form-label">Supplier Ref</label>
            <input type="text" id="supplierRef" formControlName="supplierRef" class="form-control" value="{{ref}}"
              readonly>
            <button type="button" *ngIf="!isUpdateMode" class="btn btn-primary mt-2" (click)="generateRef()"><i
                class="ri-history-line"></i>
              Ganerate
              ref</button>


            <div *ngIf="FormInputs.get('supplierRef')?.invalid && FormInputs.get('supplierRef')?.touched || showAlert">
              <small class="text-danger" *ngIf="FormInputs.get('supplierRef')?.errors?.['required']"> supplierRef is
                required.</small>
            </div>
          </div>
          <div class="col-6">
            <label for="supplierName" class="form-label">Supplier Name</label>
            <input type="text" id="supplierName" formControlName="supplierName" class="form-control">
            <div
              *ngIf="FormInputs.get('supplierName')?.invalid && FormInputs.get('supplierName')?.touched || showAlert">
              <small class="text-danger" *ngIf="FormInputs.get('supplierName')?.errors?.['required']"> supplierName is
                required.</small>
            </div>
          </div>
          <div class="col-6">
            <label for="identityNumber" class="form-label">Identity Number</label>
            <input type="text" id="identityNumber" formControlName="identityNumber" class="form-control"
              (blur)="checkIdentity(FormInputs.get('identityNumber')?.value)">

            <!-- Show validation messages -->
            <div
              *ngIf="FormInputs.get('identityNumber')?.invalid && FormInputs.get('identityNumber')?.touched || showAlert">
              <small class="text-danger" *ngIf="FormInputs.get('identityNumber')?.errors?.['required']">
                Identity Number is required.
              </small>
            </div>

            <!-- Show error message if identity already exists -->
            <div *ngIf="identityExists">
              <small class="text-danger">This identity number already exists!</small>
            </div>
          </div>
          <div class="col-6">
            <label for="contactPerson" class="form-label">Contact Person</label>
            <input type="text" id="contactPerson" formControlName="contactPerson" class="form-control">

          </div>
          <div class="col-6">
            <label for="phone" class="form-label">phone</label>
            <input type="text" id="phone" formControlName="phone" class="form-control">

          </div>
          <div class="col-6">
            <label for="email" class="form-label">email</label>
            <input type="text" id="email" formControlName="email" class="form-control">

          </div>


          <div class="col-6">
            <ng-select [items]="listCountry" bindLabel="countryName" bindValue="countryId" formControlName="countryId"
              [searchable]="true" placeholder="Select Country of Residence" (ngModelChange)="loadCity($event)">
            </ng-select>
            <div *ngIf="FormInputs.get('countryId')?.invalid && FormInputs.get('countryId')?.touched || showAlert">
              <small class="text-danger" *ngIf="FormInputs.get('countryId')?.errors?.['required']">country is
                required.</small>
            </div>
          </div>

          <div class="col-6">
            <ng-select [items]="listCity" bindLabel="cityName" bindValue="cityID" formControlName="cityID"
              [searchable]="true" placeholder="Select City of Residence">
            </ng-select>
            <div *ngIf="FormInputs.get('cityID')?.invalid && FormInputs.get('cityID')?.touched || showAlert">
              <small class="text-danger" *ngIf="FormInputs.get('cityID')?.errors?.['required']">country is
                required.</small>
            </div>
          </div>



          <div class="col-12">
            <label for="address" class="form-label">address</label>
            <textarea id="address" formControlName="address" class="form-control"></textarea>

          </div>

          <div class="text-start">
            <button type="submit" class="btn btn-primary m-2" *ngIf="!isUpdateMode">Create</button>
            <button type="submit" class="btn btn-primary m-2" *ngIf="isUpdateMode">Update</button>
            <a routerLink="/Suppliers/list-Suppliers" class="btn btn-secondary m-2">Cancel</a>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
      All fields are required.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
        (click)="showAlert = false"></button>
    </div>
  </section>
</main>