<main id="main" class="main">
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb" id="list_nav">
        <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
          <a [routerLink]="'/'+formatBreadcrumbLink(breadcrumb,breadcrumbs)">{{ formatBreadcrumb(breadcrumb) }}</a>
        </li>
      </ol>
    </nav>

  </div>
  <section class="section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">New Purchase Details</h5>
        <form [formGroup]="FormInputs" (ngSubmit)="onSubmit()" class="row g-3">
          <div class="col-6">
            <label for="SupplierRef" class="form-label">Supplier Ref</label>
            <input type="text" id="SupplierRef" formControlName="SupplierRef" class="form-control">
            <div *ngIf="FormInputs.get('SupplierRef')?.invalid && FormInputs.get('SupplierRef')?.touched || showAlert">
              <small class="text-danger" *ngIf="FormInputs.get('SupplierRef')?.errors?.['required']"> SupplierRef is
                required.</small>
            </div>
          </div>
          <div class="col-6">
            <label for="SupplierName" class="form-label">Supplier Name</label>
            <input type="text" id="SupplierName" formControlName="SupplierName" class="form-control">
            <div
              *ngIf="FormInputs.get('SupplierName')?.invalid && FormInputs.get('SupplierName')?.touched || showAlert">
              <small class="text-danger" *ngIf="FormInputs.get('SupplierName')?.errors?.['required']"> SupplierName is
                required.</small>
            </div>
          </div>
          <div class="col-6">
            <label for="ContactPerson" class="form-label">Contact Person</label>
            <input type="text" id="ContactPerson" formControlName="ContactPerson" class="form-control">

          </div>
          <div class="col-6">
            <label for="Phone" class="form-label">Phone</label>
            <input type="text" id="Phone" formControlName="Phone" class="form-control">

          </div>
          <div class="col-6">
            <label for="Email" class="form-label">Email</label>
            <input type="text" id="Email" formControlName="Email" class="form-control">

          </div>


          <div class="col-6">
            <label for="Country" class="form-label">Country</label>
            <select name="Country" id="Country" formControlName="Country" class="form-select">
              <option value="morocco">morocco</option>
              <option value="france">france</option>
              <option value="turkey">turkey</option>
            </select>
          </div>

          <div class="col-12">
            <label for="Address" class="form-label">Address</label>
            <textarea id="Address" formControlName="Address" class="form-control"></textarea>

          </div>

          <div class="text-start">
            <button type="submit" class="btn btn-primary m-2" *ngIf="!isUpdateMode">Create</button>
            <button type="submit" class="btn btn-primary m-2" *ngIf="isUpdateMode">Update</button>
            <a routerLink="/Suppliers" class="btn btn-secondary m-2">Cancel</a>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
      All fields are required.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
        (click)="showAlert = false"></button>
    </div>
  </section>
</main>