/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  position: relative;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Make the main content area flex-grow */
main {
  flex: 1;
}

/* Style the footer to be at the bottom */
.footer {
  background: #f1f1f1;
  padding: 10px 0;
  text-align: center;
}

.bg-pdf {
  background-color: rgb(142, 43, 43);
  color: white;

}

.bg-excel {
  background-color: rgb(19, 217, 75);
  color: white;

}

.model_erp {
  background-color: #ffffff;
  width: 30%;
  position: absolute;
  top: 20%;
  left: 40%;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 10px 10px 45px -14px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 10px 10px 45px -14px rgba(0, 0, 0, 0.53);
  box-shadow: 10px 10px 45px -14px rgba(0, 0, 0, 0.53);
}

.model_header {
  text-align: center;

}

.model_footer {
  text-align: center;
}

.model_footer button {
  margin: 5px;
}

.model_footer #add_model {
  background-color: #1abe5c;
  color: rgb(255, 255, 255);

}

.model_footer #close_model {
  background-color: rgb(221, 0, 0);
  color: rgb(255, 255, 255);

}

.icon_close {
  color: rgb(221, 0, 0);
  cursor: pointer;
}